<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<header>
<h1>Charles Callender</h1>

<nav>
    <ul>
        <li><a href="#about-me">About Me</a></li>
        <li><a href="#Work">Work</a></li>
        <li><a href="#Contact-Me">Contact Me</a></li>
        <li><a href="./Resume 11.16.2021.pdf">Resume</a></li>
    </ul>
</nav>
</header>

<body>
    <div class="image">
        <img src="./background.jpg" alt="Portfolio">
        <div class="image_text">Portfolio</div>
    </div>
    
<p>
    
</p>


<div class="nextto">
    <div id="about-me" class="leftside">About Me</div>
    <div class="rightside">I currently work as a Quality Engineer 2 for Boston Scientific. I'm taking part in the UW Full Stack Web Developer Bootcamp with an expected completion of Jan. 29, 2022.
    <br>
    <br>
        </div>
    </div>
    
 <div class="nextthree">
    <div id="Work" class="left2">Work</div>
<section class="codingImg2">
    
    {{{body}}}
    
   
</div>
<div class="nextfour">
<div id="Contact-Me" class="left3">Contact Me</div>

<section id="right3" class="right3"> 
<ul id="footerLinks">
    <li>206.765.8990</li>
    <li>charlescallender.cc@gmail.com</li>
    <li><a href="https://github.com/cj8355">Github</a></li>
    <li><a href="https://www.linkedin.com/in/charles-callender-043b3886/">LinkedIn</a></li>
    <li><a href="./Resume 11.16.2021.pdf">Resume</a></li>
    <!--<li><a href="https://www.spotify.com/us/">Spotify</a></li>-->
</ul>
</section>
</div>


</body>

</html>